In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [56]:
# !cd ../logs && ls
dataframe= pd.read_csv("../logs/responses.log")
del dataframe['ClientID']

In [57]:
dataframe.sort_values('Response Time in milliseconds')
q = dataframe['Response Time in milliseconds'].quantile(0.99)
df=dataframe[dataframe["Response Time in milliseconds"] < q]

In [58]:
df.groupby('number of queries').mean()

                   Response Time in milliseconds
number of queries
0                                    1071.457158
1                                    1010.578508
2                                    1031.076181
3                                    1095.939271
4                                    1194.308824