In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# !cd ../logs && ls
dataframe= pd.read_csv("../logs/responses.log")
del dataframe['ClientID']

In [6]:
dataframe.sort_values('Response Time in milliseconds')
q = dataframe['Response Time in milliseconds'].quantile(0.99)
df=dataframe[dataframe["Response Time in milliseconds"] < q]

In [4]:
df.groupby('number of queries').mean()

                   Response Time in milliseconds
number of queries
0                                       1.330379
1                                       2.065561
2                                       2.563790
3                                       2.700975
4                                       2.661765

In [7]:
df.groupby('number of queries').mean()

                   Response Time in milliseconds
number of queries
0                                       1.315035
1                                       1.706771
2                                       1.985320
3                                       2.222832
4                                       2.413462